*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  
.header{
  width: 100vw;
  height: 8vh;
  display: flex;
  background-color: #782324;
  z-index: 999;
}

.division-one{
  background-color: #f4c108;
  width: 20%;
  background-image: url(../../Images/citlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.division-two{
  display: flex;
  width: 100%;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: white;
}

.bus-icon-container{
  margin-left: 30px;
}

.button-container{
  position: absolute;
  left: 1700px;
  margin-top: 10px;
}

.header-button {
  background-color: #f4c108; 
  color: #782324; 
  padding: 8px 40px; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.header-button:hover{
  background-color: white;
  transition: background-color 0.3s ease;
}

.header-label{
  margin-left: 20px;
  margin-top: -5px;
  color: white;
}

.logged-in-user-name{
  margin-left: 450px;
}