*{
  font-family: 'Poppins', sans-serif;
}

.subheader {
  position: absolute;
  left: 350px;
  top: 100px;
  color: #782324;
}

.subheader3 {
  position: absolute;
  left: 350px;
  top: 180px;
  font-size: 18px;
  color: #782324;
}

.viewrequest-button{
  position: absolute;
  left: 1480px;
  top: 220px;
  background-color: #782324;
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 16px;
}
.viewrequest-button:hover{
  background-color: #f4c108;
  color: #782324;
  transition: background-color 0.3s;
}
.reminder{
  position: absolute;
  left: 400px;
  top: 240px;
  font-size: 18px;
  font-weight: 600;
  
}
.vehicle-container{
  position: absolute;
  left: 400px;
  top: 290px;
  background-color: #ccc;
  height: 600px;
  width: 1350px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vehicle-info{
  display: flex;
  background-color: white !important;
  justify-content: space-between; 
  align-items: center;
}


.vehicle-name{
  display: flex;
  flex-direction: column;
}

.vehicle-name p{
  font-size: 12px;
}

.vehicle-container button{
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  background-color: #782324;
  color: white;
}

.select-bus-btn{
  padding: 0;
}
.vehicle-pn
{
  position: absolute;
  left: 500px;
}
.vehicle-cap{
  position: absolute;
  left: 800px;
}
.vehicle-stat{
  position: absolute;
  left: 270px;
}
.cit-bglogo {
  position: fixed;
  top: 200px;
  left: 1200px;
  width: 1000px; 
  height: 900px;
  background-image: url(../../Images/citbglogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  filter: saturate(0%);
  opacity: 0.2;
}