*{
  font-family: 'Poppins', sans-serif;
}

.subheader {
  position: absolute;
  left: 350px;
  top: 100px;
  font-size: 24px;
  color: #782324;
}

.subheader2 {
  position: absolute;
  left: 350px;
  top: 180px;
  font-size: 18px;
  color: #782324;
}
.view-request1{
  position: absolute;
  left: 1430px;
  top: 230px;
  
}
.viewrequest-button{
  background-color: #782324; 
  color: white; 
  padding: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  z-index: 30px;
}
.viewrequest-button:hover{
  background-color: #f4c108;
  color: #782324;
  transition: background-color 0.3s;
}
.reminder{
  position: absolute;
  left: 400px;
  top: 240px;
  font-size: 18px;
  font-weight: 600;
  
}
.vehicle-container{
  position: absolute;
  left: 400px;
  top: 290px;
  background-color: #CBC3C3;
  height: 600px;
  width: 1350px;
  overflow-y: scroll;
  padding: 20px;
}

.vehicle-info{
  display: flex;
  background-color: white !important;
  justify-content: space-between; 
  align-items: center;
}

.vehicle-pn-cap{
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.vehicle-name{
  display: flex;
  flex-direction: column;
}

.vehicle-name p{
  font-size: 12px;
}

.vehicle-container button{
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  background-color: #782324;
  color: white;
}