*{
    font-family: 'Poppins', sans-serif;
  }
  
  .subheader {
    position: absolute;
    left: 350px;
    top: 100px;
    font-size: 24px;
    color: #782324;
  }
  
  .requestsmade-container{
    position: absolute;
    left: 400px;
    top: 190px;
    background-color: #CBC3C3;
    height: 680px;
    width: 1350px;
    overflow-y: scroll;
  
  }
  .back-button{
    position: absolute;
    left: 1450px;
    top: 115px;
    padding: 10px 30px;
    background-color: #782324;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 800;
    border-radius: 50px;
  }