.modalBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}
.approvemodalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.rejectmodalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer{
  background-color: white;
  padding: 25px;
  padding-left: 2.5%;
  padding-right: 2%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative; 
}

.approvemodalContainer {
    background-color: white;
    padding: 70px;
    border-radius: 10px;
    width: 600px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative; 
}

.approve-modal-button {
  padding-top: 6%;
  display: flex;
  justify-content: space-between;
}

.approve-modal-button-cancel {
  background-color: #f59e0b; /* bg-yellow-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.25rem; /* rounded */
  margin-right: 0.5rem; /* mr-2 */
}

.approve-modal-button-cancel:hover {
  background-color: #d97706; /* hover:bg-yellow-700 */
}

.approve-modal-button-save {
  background-color: #dc2626; /* bg-red-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.25rem; /* rounded */
}

.approve-modal-button-save:hover {
  background-color: #b91c1c; /* hover:bg-red-700 */
}

.rejectmodalContainer {
  background-color: white;
  padding: 80px;
  border-radius: 10px;
  width: 600px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative; 
}

.reject-modal-cancel-button {
  background-color: #f59e0b; /* bg-yellow-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.25rem; /* rounded */
  margin-right: 0.5rem; /* mr-2 */
}

.reject-modal-cancel-button:hover {
  background-color: #d97706; /* hover:bg-yellow-700 */
}

.reject-modal-save-button {
  background-color: #dc2626; /* bg-red-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.25rem; /* rounded */
}

.reject-modal-save-button:hover {
  background-color: #b91c1c; /* hover:bg-red-700 */
}

.reject-modal-button {
  padding-top: 6%;
  display: flex;
  justify-content: space-between;
}



.modaltitle,
.approvetitle,
.subtitle {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.formRow {
    margin-bottom: 10px;
}

.grid {
    display: grid;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(4, 1fr);
}

.gap-4 > * {
    margin-right: 1rem;
}

.gap-4 > *:last-child {
    margin-right: 0;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: larger;
}

.formRow input {
  width: calc(100% - 20px); /* Adjust the width to accommodate the gap */
}

.opc-save-container {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
}


.opc-save-button {
  background-color: #782324;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  max-width: 150px;
}

.opc-save-button:hover {
  background-color: #ef4444; 
}

.closeButton {
  background-color: #782324; 
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem; 
  font-weight: bold; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 45px;
  margin-top: 25px;
}

.closeButton:hover{
  background-color: #ef4444;
}

.approve-exit{
  background-color:rgb(15, 172, 15) ;
  height: 35px;
  width: 180px;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 10px;
  border: none;
  border-radius: 50%;
  padding: 15px;
}