.delete-confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-confirmation-box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.delete-confirmation-box h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 0;
}

.delete-confirmation-box p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.delete-confirmation-buttons {
  display: flex;
  justify-content: space-evenly;
  border: none;
}

.delete-confirmation-buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.delete-confirmation-buttons button:nth-child(1){
  background-color: #782324;
  color: #FFF;
}

.delete-confirmation-buttons button:nth-child(2){
  background-color: #f4c108;
}

.delete-confirmation-buttons button:hover {
  background-color: #f0f0f0;
  color: black;
}

