.opc-view-container {
 
  align-items: center;
}
 
.opc-title {
  margin-right: 900px;
  margin-top: 1%;
  align-items: flex-start;
}
 
.opc-view-req-container {
  padding-bottom: 1.1%;
}
 
.opc-vehicle-header-button-container {
  display: flex;
  justify-content: center;
}
 
.opc-vehicle-header-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  max-width: 1400px;
}
 
.opc-vehicle-requests-header-container{
  height: 100px;
}
 
.opc-vehicle-requests-header{
  display: flex;
  max-width: 1308px;
  background-color: #782324;
  align-items: center;
  padding: 15px 0px;
  margin-left: 26px;
  padding: 15px 15px;
  padding-right: 20px;
}
 
.opc-requests-header{
  background-color: #782324;
  align-items: center;
  margin-left: 26px;
  padding: 15px 15px;
  padding-right: 20px;
  padding: 15px 0px;
}
 
.opc-vehicle-requests-header h1{
  color: #FFF;
  margin-left: 20px;
}
 
 
.opc-vehicle-requests-header button {
  position: absolute;
  left: 1590px;
  height: 40px;
  border: none;
  font-size: 16px;
  background-color: #f4c108;
  border-radius: 20px;
  color: #782324;
  font-weight: bold;
  cursor: pointer;
  width: 180px;
 
}


.rdc-box1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}
 
.vehicle-availability{
  text-align: center;
  margin-top: 150px;
  font-size: 16px;
}
 
.vehicle-data-container {
  border-radius: 10px;
 
}
 
.vehicle-data-container1 {
  width: 1400px;
  max-height: 750px;
  margin-left: 18%;
  padding: 20px;
  background-color: #cbc3c3;
  display: flex;
  flex-direction: column;
}
 
 
.vehicle-info{
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  justify-content: space-between;

  
}
.vehicle-info-plate{
  position: absolute;
  left: 400px;
  font-weight: 700;
}
 
 
.vehicle-update-button, .vehicle-delete-button{
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  
}
 
.vehicle-update-button{
  position: absolute;
  left: 1020px;
  width: 150px;
  background-color: #00bf63;
  font-weight: 700;
}
 
.vehicle-delete-button{
  width: 150px;
  background-color: #782324;
  color: #FFF;
  font-weight: 700;
}
.vehicle-info-capa{
  position: absolute;
  left: 750px;
  font-weight: 700;
}
.cit-bglogo {
  position: fixed;
  top: 200px;
  left: 1200px;
  width: 1000px;
  height: 900px;
  background-image: url(../../Images/citbglogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  filter: saturate(0%);
  opacity: 0.2;
}
 
.sample{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 1000px;
  min-height: 100px;
 
}
.request-vehicle-data-container1{
  position: absolute;
  left: 433px;
  top: 400px;
  background-color: #CBC3C3;
  height: 440px;
  width: 1400px;
  overflow-y: scroll;
}
.vehicle-info{
  background-color: red;
}