.update-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-dialog-box {
  background-color: #fff;
  padding: 20px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-dialog-box h3 {
  margin-top: 0;
}

.update-dialog-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-dialog-buttons {
  display: flex;
  margin-top: 30px;
  
}

.update-dialog-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.update-dialog-buttons button:first-child {
  background-color: #782324;;
  width: 250px;
  color: #fff;
}

.update-dialog-buttons button:last-child {
  background-color: #d9d9d9;
  width: 250px;
  color: #000;
}

.update-dialog-buttons button:first-child:hover{
  background-color: #471516;
  color: white;
}
.update-dialog-buttons button:last-child:hover{
  background-color: #f4c108;
  
}

.success-message,
.error-message {
  margin-top: 10px;
  color: green;
}
