*{
  font-family: 'Poppins', sans-serif;
}

.opc-view-requests-container {
  position: absolute;
  left: 400px;
  top: 100px;
  font-size: 14px;
  background-color: #ccc;
  height: 800px;
  width: 1400px;
  border-radius: 15px;
  overflow-y: auto;
}

.opc-view-requests-title {
  background-color: #782324;
  color: white !important;
  padding: 20px;
  height: 70px;
  position: sticky;
  top: 0;
}

.opc-view-requests-title h2{
  margin-left: 0px;
}

.opc-reservation-list{
  padding: 20px;
}
.opc-reservation-list ul{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.opc-reservation-list li{
  display: flex;
  background-color: #FFF;
  min-height: 150px;
  gap: 200px;
  margin-top: 5px;
  padding-left: 20px;
  border-radius: 5px;
}
  
.export-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.export-btn button{
  border: none;
  font-size: 16px;
  padding: 15px 15px;
  background-color: rgb(0, 93, 0);
  border-radius: 5px;
  margin-right: 100px;
  color: #FFF;
}
.export-btn button:hover{
  background-color: green;
  font-weight: 400;
}