.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.dialog-box {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header  h3{
  margin: 0;
}

.dialog-header button {
  width: 30px;
  border: none;
  background-color: white;
  font-weight: bold;
}

.dialog-content {
  margin-top: 20px;
}

.dialog-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.dialog-footer {
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}

.message-column {
  flex-grow: 1;
}

.button-column {
  margin-left: 5px;
  margin-right: 5px;
}

.dialog-footer button {
  padding: 8px 20px;
  margin-left: 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #4b0e0e;
  background-color: #F4C108;
}


.add-btn{
  background-color: #782324;
}
.cancel-btn{
  background-color: grey;
}
.add-btn:hover{
  background-color: #4b0e0e;
}

.success-message, .error-message{
  display: flex;
}

.success-message{
  color: green;
  max-width: 160px;
}

.error-message{
  color: red ;
  max-width: 160px;
}