.opc-view-container {
  align-items: center;
}
 
.opc-view-req-container {
  padding-bottom: 1.1%;
}
 
.opc-vehicle-header-button-container {
  display: flex;
  justify-content: center;
}
 
.opc-vehicle-header-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1400px;
}
 
.opc-vehicle-requests-header-container{
  height: 80px;
}
 
.opc-vehicle-requests-header{
  display: flex;
  max-width: 1308px;
  gap: 935px;
  background-color: #782324;
  align-items: center;
  margin-left: 26px;
  padding: 15px 15px;
  padding-right: 20px;
}
 
.opc-requests-header{
  background-color: #782324;
  align-items: center;
  margin-left: 26px;
  padding-right: 20px;
}
 
.opc-vehicle-requests-header h1{
  color: #FFF;
  margin-left: 20px;
}
 
.opc-vehicle-requests-header button {
  border: none;
  background-color: #f4c108;
  border-radius: 20px;
  color: #782324;
  font-weight: bold;
  padding: 10px 15px;
}

.rdc-box1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 490px;
}

.request-vehicle-data-container1{
  height: 500px;
  max-width: 1400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 
.vehicle-availability{
  text-align: center;
  margin-top: 150px;
  font-size: 16px;
}
 
.vehicle-data-container {
  border-radius: 10px;
 
}
 
.vehicle-data-container1 {
  width: 1400px;
  max-height: 750px;
  margin-left: 18%;
  padding: 20px;
  background-color: #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
 
.vehicle-info{
  max-width: 1308px;
  margin-left: 26px;
  padding: 30px 30px;
  padding-right: 20px;
  min-height: 160px;
}

.vehicle-info-plate{
  font-weight: 500;
}
 
.vehicle-update-button, .vehicle-delete-button{
  width: 100px;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
}
 
.vehicle-update-button{
  left: 1020px;
  width: 150px;
  background-color: green;
  font-size: 16px;
  border-radius: 10px;background-color:#0fac0f;
  color: #FFF;
}
 
.vehicle-delete-button{
  width: 150px;
  background-color: #c23a3c;
  font-size: 16px;
  border-radius: 10px;
  color: #FFF;
}

.vehicle-info-capa{
  left: 750px;
  font-weight: 500;
}

.vehicle-info-d2{
  display: flex;
  flex-direction: column;
}