.opc-view-container {

  align-items: center; 
}

.opc-title {
  margin-right: 900px;
  margin-top: 1%;
  align-items: flex-start;
}

.opc-view-req-container {
  padding-bottom: 1.1%;
}

.opc-vehicle-requests-header{
  display: flex;
  gap: 1150px;
  max-width: 1308px;
  gap: 949px;
  background-color: #782324;
  align-items: center;
  padding: 15px 0px;
  margin-left: 26px;
  padding: 15px 15px;
  padding-right: 20px;
}

.opc-requests-header{
  background-color: #782324;
  align-items: center;
  margin-left: 26px;
  padding: 15px 15px;
  padding-right: 20px;
  padding: 15px 0px;
}

.opc-vehicle-requests-header h1{
  color: #FFF;
  margin-left: 20px;
}


.opc-vehicle-requests-header button {
  position: absolute;
  left: 1590px;
  height: 40px;
  border: none;
  font-size: 16px;
  background-color: #f4c108;
  border-radius: 20px;
  color: #782324;
  font-weight: bold;
  cursor: pointer;
  width: 180px;

}
.opc-vehicle-requests-header button:hover {
  background-color: white; 
  color: #782324; 
}

.data-container1 {
  width: 80%;
  min-height: 700px;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
 
}

.rdc-box1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.vehicle-availability{
  text-align: center;
  margin-top: 150px;
  font-size: 16px;
}

.vehicle-data-container {
  border-radius: 10px;

}

.vehicle-data-container1 {
  width: 1400px;
  max-height: 750px;
  margin-left: 18%;
  padding: 20px;
  background-color: #cbc3c3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.vehicle-info{
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.vecihle-info-plate{
  position: absolute;
  left: 800px;
  font-weight: 700;
}


.vehicle-update-button, .vehicle-delete-button{
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
}

.vehicle-update-button{
  position: absolute;
  left: 1450px;
  width: 150px;
  background-color: #00bf63;
  font-weight: 700;
}

.vehicle-delete-button{
  position: absolute;
  left: 1620px;
  width: 150px; 
  background-color: #782324;
  color: #FFF;
  font-weight: 700;
}
.vecihle-info-capa{
  position: absolute;
  left: 1200px;
  font-weight: 700;
}
.cit-bglogo {
  position: fixed;
  top: 200px;
  left: 1200px;
  width: 1000px; 
  height: 900px;
  background-image: url(../../Images/citbglogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  filter: saturate(0%);
  opacity: 0.2;
}

.sample{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 1000px;
  min-height: 100px;
  
}