.opc-view-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100vw;
  height: 100vh;
}

.opc-title {
  margin-right: 1000px;
  margin-top: 1%;
  display: flex;
}

.opc-view-req-container {
  padding-bottom: 1.1%;
}

.sample{
  height: 100px;
  min-height: 100px;
}

.data-container1 {
  width: 80%;
  max-height: 750px;
  margin-left: 18%;
  padding: 20px;
  background-color: #cbc3c3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.request-data-container1 {
  width: 100%;
  min-height: 250px;
  background-color: white;
  display: flex;
  border-radius: 10px;
}

.r-d-container-left1 {
  width: 70vw;
  column-count: 2;
  padding: 30px 30px;
  font-size: 15px;
  line-height: 1.5;
}

<<<<<<< HEAD
.feedback-container1 {
=======
.r-d-container-left1-driver{
  width: 70vw;
  column-count: 1;
  padding: 30px 30px;
  font-size: 15px;
  line-height: 1.5;
}

.feedback-container1{
>>>>>>> be280487f8c72e770a9c8a4adabfcdab65f692b2
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-container1 input {
  margin-top: 20px;
  width: 500px;
  height: 30px;
}

.feedback-container1 button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 800;
  background-color: #782324;
}

.r-d-container-right1 {
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.r-d-container-right1 button {
  height: 35px;
  width: 180px;
  border: none;
  padding: 15px; 
  display: flex; 
  margin-right: 20px;
  align-items: center; 
  justify-content: center; 
}

.r-d-container-right1 button:nth-child(1) {
  background-color: rgb(15, 172, 15);
  color: white;
  text-align: center; 
}

.r-d-container-right1 button:nth-child(2) {
  background-color: #c23a3c;
  color: white;
}

.r-d-container-right1 button:nth-child(3) {
  background-color: #782324;
  color: white;
}

.r-d-container-right1 button:nth-child(4) {
  background-color: #f4c108;
  color: #782324;
}
