.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirmation-modal p {
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-close-span{
  display: flex;
  justify-content: flex-end;
}

.modal-close-btn:hover{
  cursor: pointer;
}

.confirmation-modal button {
  margin-right: 10px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}


.modal-btn{
  display: flex;
  justify-content: space-around;
}

.confirmation-modal button:first-child {
  background-color: #0fac0f;
  color: white;
}

.confirmation-modal button:last-child {
  background-color: #c23a3c;
  color: white;
}
