.subheader {
    position: absolute;
    left: 350px;
    top: 100px;
    color: #782324;
  }
  .subheader h2{
    font-size: 36px;
  }
  *{
    overflow: hidden;
  }  
 .calendar-div{
    position: absolute;
    left: 350px;
    top: 210px;
 }
 .selectsched{
    position: absolute;
    left: 350px;
    top: 170px;
    font-size: 14px;
    color: #782324;
 }
 .resform{
    position: absolute;
    left: 850px;
    top: 210px;
    font-size: 14px;
    background-color: #CBC3C3;
    height: 700px;
    width: 1020px;
    border-radius: 15px;
 }
 .restitle{
  background-color: #782324;
  color: white;
  padding: 10px;

}
.restitle h2{
  margin-left: 10px;
}
 .oneway{
    position: absolute;
    left: 40px;
    top: 70px;
    font-weight: 800;
    font-size: 16px;
 }
 .roundtrip{
    position: absolute;
    left: 200px;
    top: 70px;
    font-weight: 800;
    font-size: 16px;
 }
 .to{
    position: absolute;
    left: 40px;
    top: 120px;
    color: #782324;
 }
 .to input[type="text"] {
    width: 300px; 
    height: 35px; 
    padding: 5px; 
   
  }
  .from{
    position: absolute;
    left: 400px;
    top: 120px;
    color: #782324;
 }
 .from input[type="text"] {
    width: 300px; 
    height: 35px; 
    padding: 5px; 
    
  }
  .capacity{
    position: absolute;
    left: 770px;
    top: 120px;
    color: #782324;
 }
 .capacity input[type="text"] {
    width: 150px; 
    height: 35px; 
    padding: 5px; 
    
  }
  .vehicle{
    position: absolute;
    left: 660px;
    top: 165px;
    margin-top: 10px;
    color: #782324;
 }
 .vehicle input[type="text"] {
    width: 260px; 
    height: 35px; 
    padding: 5px; 
    
  }
  .schedule{
    position: absolute;
    left: 400px;
    top: 165px;
    color: #782324;
    margin-top: 10px;
 }
 .schedule input[type="text"] {
    width: 200px; 
    height: 35px; 
    padding: 5px; 
    
  }
 
input[type="radio"] {
    display: none;
  }
  
  
  input[type="radio"] + label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
  }
  
  input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; 
    height: 15px; 
    border: 2px solid white; 
    border-radius: 50%; 
  }
  
  
  input[type="radio"]:checked + label::before {
    background-color: #782324;
  }
  
  .cit-bglogo {
    position: fixed;
    top: 100px;
    left: 1300px;
    width: 1000px; 
    height: 900px;
    background-image: url("../Images/citbglogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    filter: saturate(0%);
    opacity: 0.2;
}
.dropdown {
    position: absolute;
    left: 40px;
    top: 165px;
    color: #782324;
    margin-top: 10px;
  }
  
  
  .dropdown select {
    width: 300px; 
    height: 35px; 
    padding: 5px; 
    box-sizing: border-box; 
  }